@import url(./reset.css);

header {
  background: #ccc url('../asset/Bann.png')no-repeat  fixed center center / cover;
  height: 45.0rem;

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2.4rem;
    padding-top: 1.2rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem 2rem 8rem;
  }

  p{
    padding-top: 4rem;
    text-align: center;
    font-size: 2.8rem;
    color: #ffffff;
  }

  #collection{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    font-size: 3rem;
    padding-top: 2.5rem;
    color: #ffffff;
    text-align: center;
  }
}

body{
  background-color: #080c18;
}

nav ul{
  display: flex;
  gap: 2.3rem;
  padding-top: 1.7rem;
  font-size: 2.3rem;

  li a{
    text-decoration: none;
    list-style: none;
    color: white;
  }
}

h2{
  text-align: center;
  padding: 5.0rem 0 5.0rem 0;
  color: #f9c349;
}

figure{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    color: white;

  figcaption{
    font-size: 2.1rem;
  }

  button{
    background-color: #fea800;
    height: 40px;
    width: 15.0rem;
    color: black;
    font-size: 1.5rem;
    border-radius: 5.0rem;
  }
}


.services{
  padding: 0 100px 100px 100px;
  display:grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap:10px;
}

.service{
  background-color: #131823;
  border: 3px solid #080c18;
  font-size: 22px;
  text-align: center;
  padding: 15px;
  box-shadow:  2px 3px black;
  border-radius: 7px;
  color: #828282;
}


h3{
  text-align: center;
  padding: 6.0rem 0 6.0rem 0;
  color: #f9c349;
}


.realisations{
  display: flex;
  background-color: #131823;
  border: 3px solid #080c18;
  color: #828282;
  font-size: 22px;
  margin: 0px 150px 0 150px;
  padding: 40px;
  box-shadow:  2px 3px black;
  border-radius: 7px;
  gap:60px;
}

.realisations strong{
  color: black;
}


hr{
  font-size: 70px;
  border: none; /* Enlève la bordure par défaut */
  height: 2px; /* Épaisseur du trait */
  background-color: #828282; /* Couleur du trait */
  height: 2.5px; /* Épaisseur */
}

/*
.duo1{
  display: flex;
}
/*
#collection{
  align-items: center;
  font-size: 80px;
  color: #ffffff;
}
/*
#logo{
  margin-top: 3px ;
  floa
}
